<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvm0i-Vs6RIUiqzE_am6ftbYoqlUKtuk8</string>
	<key>GCM_SENDER_ID</key>
	<string>796302433608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterquizapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crudtest-2aedc</string>
	<key>STORAGE_BUCKET</key>
	<string>crudtest-2aedc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796302433608:ios:2c05825142419b0c9aa77d</string>
</dict>
</plist>